{
  "exclude": "node_modules/!(@accede-web)/**",
  "include": "node_modules/@accede-web/**",
  "presets": [
    [ "@babel/env", {
      "modules": false,
      "targets": {
        "browsers": "last 2 versions, ie >= 11"
      }
    }]
  ]
}
