$rounding = 10
$dark = #000000
$light = #ffffff

$color-primary-light = #b2b2b2
$color-primary = #9c9c9c
$color-primary-dark = #202020

$color-secondary = #555
$color-secondary-dark = #343434

$text-primary-light = #bbbbbb
$text-primary = $color-primary
$text-primary-dark = $color-primary-dark
$text-secondary-dark = #282828
$text-error = #ff7f7f

$color-divider-light = #a5a5a5
$color-divider-dark = #e5e5e5


$font-types = woff woff2


empty()
   &:empty
      &:before
         background-color: currentColor
         content: ''
         display: inline-block
         height: 2px
         vertical-align: baseline
         width: 60%

pc( $width )
   ( $width*100% )
