$rounding = 10
$dark = #000000
$light = #ffffff

$color-primary-light = #f9f9f9
$color-primary = #727272
$color-primary-dark = #444

$text-primary-light = #bbbbbb
$text-primary = $color-primary
$text-primary-dark = $color-primary-dark
$text-secondary-dark = #282828
$text-error = #ff7f7f

$color-divider-light = #a5a5a5
$color-divider-dark = #e5e5e5


$font-types = woff woff2
