.screen-movie
   .screen-content
      padding-top: rem( 102 )

   .screen-panel
      min-height: 100%

      .movie-artwork
         float: left
         padding-top: rem( 18 )
         padding-bottom: rem( 12 )
         width: rem( 113 )

         img
            left: 0
            transform: none

.movie-title
   color: $color-primary-dark
   a
      text-decoration: none

.movie-infos-item
   font-size: rem( 14 )
   margin: rem( 4 ) 0

.info-movie

   dd

      &.movie-runtime:before
         width: rem( 60 )

      &.movie-rating:before
         width: rem( 40 )

      &.movie-director:before
         width: rem( 120 )

      &.movie-cast:before
         width: 88%

      &.movie-synopsis
         &:before
            width: 80%
         &:empty:after
            background-color: currentColor
            content: ''
            display: inline-block
            height: 2px
            vertical-align: middle
            width: 60%

   .movie-synopsis-title
   .movie-trailer-title
      clear: left

.movie-trailer
   margin-top: rem( 3 )

   div
      position: relative
      padding-top: ( 172/320*100% )

   iframe
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

