.screen-credits
   display: none

   .screen-header
      background: none

   .screen-content
      background-color: $dark
      color: $light
      padding-top: 40vh

   .credits-list
      padding-bottom: 50vh
      margin: 0 auto
      max-width: rem( 400 )
      text-align: center

      .credit
         font-size: rem( 14 )
         text-transform: capitalize

      .entry
      .entries
         margin: rem( 4 ) 0 rem( 24 )

   .entries
      .entry
         display: inline-block
         margin: 0

   .disclaimer
      font-size: rem( 13 )

   .theend
      height: auto
      line-height: 1
      margin: 0
      padding-bottom: 50vh
