.screen-favorites

   .theater-item
      position: relative

      .item-title
         padding-left: rem( 30 )

   .button-favorite
      height: rem( 54 )
      left: rem( -20 )
      margin-top: rem( -54/2 )
      position: absolute
      top: 50%
      width: rem( 60 )
