.screen-theater
   .screen-content
      padding-top: rem( 104 )

.theater-movies-list
   padding-top: rem( 4 )
   padding-bottom: rem( 10 )

.theater-movies-item
   margin: rem( 24 ) 0

   .dash
      display: block
      height: rem( 4 )
      width: 100%

      pattern
         stroke: rgba( $color-primary-light, 0.4 )
         stroke-width: 2px


   &:first-child
      .dash
         display: none

.theater-movies
   &[aria-hidden=true]
      display: none


.movie
   padding-top: rem( 22 )
   position: relative
   font-size: 0

.movie-artwork
   display: inline-block
   font-size: 1rem
   padding-right: pc( 18/320 )
   position: relative
   vertical-align: top
   width: pc( 84/320 )

   span
      display: block
      overflow: hidden
      padding-top: ( 4%/3*100 )
      background-color: $color-primary-light

   img
      display: block
      height: 100%
      position: absolute

   & + .movie-infos
      width: pc( 236/320 )

.movie-title
   margin-top: rem( -2 )

.movie-infos
   display: inline-block
   font-size: 1rem
   vertical-align: top

.movie-infos-item
   font-size: rem( 11 )
   margin: rem( 2 ) 0

.movie-times
   margin-top: rem( 10 )

.movie-times-info
   font-size: rem( 12 )
   margin: rem( 5 ) 0 0
   display: block

.movie-times-list
   color: $text-primary-dark
   font-size: 0
   margin-left: rem( -9 )
   width: 'calc( 100% + %s )' % ( rem( 18 ) )

.movie-times-item
   font-size: rem( 14 )
   display: inline-block
   padding: 0 rem( 9 )

   s
      position: relative
      color: $text-primary
      text-decoration: none

      &:after
         content: ''
         position: absolute
         width: 100%
         height: 1px
         background-color: $text-primary
         left: 0
         bottom: em( 6/14 )
