.screen-favorites

   .theater-item
      position: relative

      .item-title
         padding-left: rem( 30 )

   .button-favorite
      height: rem( 54 )
      left: rem( -20 )
      position: absolute
      top: rem( -1 )
      width: rem( 60 )

   .message-block
      svg
         height: rem( 30 )
         width: rem( 30 )

   .message-title
      margin-top: rem( 6 )
