.screen-home
   .screen-form
      height: rem( 36 )

      .input-floating
         font-size: rem( 14 )
         height: rem( 32 )

         input
            border-width: 2px
            text-align: center

         label
            line-height: ( 32/14 )

   .screen-content
      padding-top: rem( 48+36 )

.form-quicksearch
   margin: rem( 14 ) 0

   .input-floating
      color: $dark

      input:focus + label
         visibility: hidden

      input:focus ~ button
      input:valid ~ button
         display: block

      button
         display: none
         background-color: $light
         border 3px solid currentColor
         border-left: 0
         height: 100%
         padding: 0 rem( 8 )
         position: absolute
         right: 0
         top: 0
         z-index: 1
      [type=submit]
         &:focus
            display: block

   label
      text-align: center
