.screen-home
   .screen-form
      height: rem( 36 )


   .screen-content
      background: none
      min-height: 0
      padding-top: 0
      position: fixed
      width: 100%
      bottom: 0
      left: 0
      height: auto

.home-poster
   background: no-repeat 50% 50%
   background-size: cover
   display: block
   height: 100vh
   opacity: 0
   transition: opacity 0.3s $ease-out-quad;
   width: 100%
   will-change: opacity

   &.show
      opacity: 1

.home-find
   font-size: 0
   position: relative
   margin-bottom: rem( 25 )

   &:after
      content: ''
      position: absolute
      width: 1px
      background-color: $light
      height: rem( 26 )
      left: 50%
      top: rem( 15 )
      transform: translateX( -50% )

.form-quicksearch
   color: $light
   display: inline-block
   font-size: rem( 12 )
   margin: rem( 15 ) 0
   vertical-align: top
   width: 50%

   .input-floating
      height: rem( 26 )

      input
         border-width: 0

      input:focus + label
         visibility: hidden

      input:focus ~ button
      input:valid ~ button
         display: block

      button
         display: none
         border-left: 0
         height: 100%
         padding: 0 rem( 8 )
         position: absolute
         right: 0
         top: 0
         z-index: 1

      [type=submit]
         &:focus
            display: block

   label
      text-align: center
