.layer.site-menu
   background-color: rgba( $dark, 0 )
   z-index: 15

   &:not( [aria-hidden=true] )
      background-color: rgba( $dark, 0.7 )

   .layer-wrapper
      background-color: $light
      color: $dark
      padding: rem( 10 ) 0 0

      .button-close
         svg
            fill: $light

   .button-locationChange
   .button-update
      outline: none
      padding: rem( 20 )
      text-align: center
      display: block
      width: 100%


.menu-item
   text-transform: uppercase

   a
      display: block
      padding: rem( 20 )
      text-decoration: none
      text-align: center

   .menu-item-active
      background-color: rgba( $light, 0.2 )

.menu-favorites
   a
      padding: rem( 15 ) rem( 20 )

   svg
   a span
      vertical-align: middle

   svg
      fill: $color-primary-light
      height: rem( 28 )
      margin-right: rem( -6 )
      width: rem( 28 )

   .icon-favorite
      display: none

   .icon-favorited
      display: inline-block

   &.empty
      .icon-favorite
         display: inline-block
      .icon-favorited
         display: none

