.screen-credits
   display: none

   .screen-header
      background: none

   .screen-content
      padding-top: 85vh
      background-color: $dark
      color: $light

   .credits-list
      text-align: center
      padding-bottom: 50vh

      dt
         font-size: rem( 14 )
      dd
         margin: rem( 4 ) 0 rem( 20 )

   .theend
      text-align: center
      padding-bottom: 50vh
