.screen-around
   .button-location
      font-size: 0
      height: rem( 54 )
      outline: none
      position: absolute
      right: 0
      top: 0
      width: rem( 60 )

      svg
         fill: $color-primary

      span
         hide();

   .screen-form
      display: none

   .message-icon
      .bar
         margin-left: rem( 1 )
         margin-top: rem( -1 )
