.layer-location

   .layer-wrapper
      padding-left: rem( 14 )
      padding-right: @padding-left

   .layer-description
      display: none

   &.setup .layer-description
      display: block

   .button-location
      display: block
      height: rem( 48 )
      margin-top: rem( 10 )
      outline: none
      text-align: center
      text-transform: none
      width: 100%

      span
         vertical-align: middle

      svg
         fill: currentColor
         display: inline-block
         vertical-align: middle

   form
      padding-bottom: rem( 14 )

   .input-floating

      label
      input
         padding: 0
         text-align: center

   .screen-loader
      z-index: 0
