.input-floating
   position: relative
   display: block
   height: em( 38/16 )

   label
      color: currentColor
      position: absolute
      left: 0
      top: 0
      width: 100%
      z-index: 0
      padding: 0 rem( 11 )
      line-height: ( 38/16 )

   input
      background: none
      border: 3px solid currentColor
      display: block
      height: 100%
      outline: none
      padding: 0 rem( 8 )
      position: relative
      width: 100%
      z-index: 1

      &:valid
         + label
            visibility: hidden

.button-action
   background-color: $dark
   color: $light
   display: block
   height: rem( 40 )
   margin: rem( 14 ) 0
   width: 100%
