.info-desc
   margin: 0
   padding: rem( 15 ) 0

   dt
      font-size: rem( 14 )

   dd
      empty()
      margin: 0 0 rem( 15 )
      color: $color-primary-dark

      &:empty
         &:before
            vertical-align: middle
