.screen
   height: 100vh
   overflow: hidden

.screen-header
   color: $light
   left: 0
   background-color: $dark
   position: fixed
   top: 0
   width: 100%
   z-index: 2

.screen-title
   empty();
   //font-size: rem( 14 )
   font-weight: bold
   height: rem( 48 )
   line-height: ( 47/16 )
   overflow: hidden
   padding-bottom: rem( 1 )
   padding-left: rem( 60 )
   padding-right: rem( 17 )
   text-overflow: ellipsis
   text-transform: uppercase
   white-space: nowrap

.screen-nav
   background-color: $dark
   border-bottom: 1px solid currentColer
   height: rem( 40 )
   padding: 0 rem( 7 )

   .nav-list
      display: flex
      justify-content: space-between
      height: 100%

   .nav-list-item
      flex-grow: 1
      //text-align: center
      height: 100%
      align-items: center

      a
         empty();
         display: block
         height: 100%
         line-height: ( 40/16 )
         text-decoration: none
         padding: 0 rem( 7 )

      &+ .nav-list-item
         a:before
            width: 70%

      &:last-child
         a:before
            width: 80%

.screen-content
   padding: rem( 48 ) rem( 14 ) 0
   height: 100vh
   overflow-y: scroll
   -webkit-overflow-scrolling: touch



.screen-list
   .screen-content
      padding-top: rem( 88 )

   .screen-nav
      padding: rem( 3 )
      position: relative

      label
         position: absolute
         left: 0
         padding: 0 rem( 14 )
         top: 0
         width: 100%
         z-index: 0
         line-height: ( 40/16 )

      input
         position: relative
         z-index: 1
         border: 3px solid $light
         background: none
         display: block
         width: 100%
         height: 100%
         padding: 0 rem( 8 )
         outline: none

         &:valid
            + label
               visibility: hidden

   .item-title
      padding: rem( 11 ) 0
      display: block
      color: $text-secondary-dark
