.site-header-button
   font-size: 0
   height: rem( 54 )
   left: 0
   outline: none
   position: fixed
   top: 0
   width: rem( 60 )
   z-index: 15

   svg
      fill: currentColor

   span
      hide()

.button
   text-align: center
   text-transform: uppercase

.button-close
   outline: none
   -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 )

.button-favorite
   outline: none

   svg
      fill: $color-primary
      width: rem( 30 )
      height: rem( 30 )

   span
      hide()

.button-action
   background-color: $light
   color: $dark
   display: block
   height: rem( 44 )
   margin: rem( 15 ) auto
   width: rem( 228 )
   //border-radius: rem( 22 )
   line-height: ( 45/15 )
   font-size: rem( 15 )

.button-reverse
   //border-radius: rem( 22 )
   border: 2px solid currentColor
   color: currentColor
   display: block
   font-size: rem( 15 )
   height: rem( 44 )
   line-height: ( 38/14 )
   margin: rem( 16 ) auto
   max-width: rem( 228 )
   padding: 0 rem( 40 )

.button-cta
   padding: rem( 10 )

   &:after
      background-color: currentColor
      content: ''
      display: block
      height: 1px
      margin: 1px auto 0
