.screen
   height: 100vh

.screen-header
   color: $light
   left: 0
   position: fixed
   top: 0
   width: 100%
   z-index: 2
   background: $color-seconday-dark url( '/media/dyn/city/paris.jpg' ) no-repeat 50% 0
   background-size: cover

.screen-title
   empty();
   font-size: rem( 17 )
   font-weight: bold
   height: rem( 54 )
   letter-spacing: em( 1/17 )
   line-height: ( 54/17 )
   overflow: hidden
   padding: 0 rem( 60 )
   text-align: center
   text-overflow: ellipsis
   text-transform: uppercase
   white-space: nowrap

.screen-nav

   .nav-list
      height: 100%
      font-size: 0

   .nav-list-item
      empty();
      font-size: 1rem
      display: inline-block
      width: ( 100%/3 )
      text-align: center
      line-height: ( 48/16 )
      padding: 0 rem( 7 )
      position: relative

      &:empty:before
         width: 70%

      &[aria-selected=true]:not( :empty )
         &:after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: rem( 4 )
            background-color: $light
            transition: height 0.2s

         &:focus
            outline: none

            &:after
               height: rem( 6 )

.screen-form
   padding: 0 rem( 15 )

.screen-content
   padding: rem( 54 ) rem( 20 ) 0
   //height: 100vh
   background-color: $light
   min-height: 100%
   -webkit-overflow-scrolling: touch

.screen-section
   margin: rem( 20 ) 0 rem( 30 )

.screen-content-title
   color: $text-primary-dark
   font-size: rem( 22 )
   margin: rem( 20 ) 0 rem( 14 )
   position: relative
   text-align: center
   text-transform: uppercase

   &:before
      background-color: currentColor
      content: ''
      height: 2px
      left: 0
      position: absolute
      top: 50%
      transform: translateY( -50% )
      width: 100%

   span
      background-color: $light
      padding: 0 em( 6/16 )
      position: relative
      z-index: 1

.screen-list
   .screen-content
      padding-top: rem( 102 )

      > ul
         padding-bottom: rem( 16 )
         padding-top: rem( 10 )

   .item-title
      font-size: rem( 18 )
      line-height: ( 20/18 )
      padding: rem( 16 ) 0 rem( 14 )
      display: block
      color: $text-secondary-dark
