.message-block
   left: 0
   padding: 0 rem( 20 )
   position: fixed
   top: 50%
   text-align: center
   transform: translateY( -50% )
   width: 100%

.message-icon
   position: relative

   svg
      display: block
      fill: $text-primary
      margin: 0 auto

   .bar
      left: 50%
      position: absolute
      top: 50%
      transform: translate( -50%, -50% )

.message-title
   color: $dark
   font-size: rem( 18 )
   margin: rem( 10 ) 0 rem( -6 )
   text-transform: uppercase

.message-text
   margin: rem( 10 ) 0
