div.screen-content
  h1( title="Movienow!" ).screen-title Movienow!

  dl.credits-list
    dt Developer
    dd
      a( href="https://twitter.com/enwin" ) Thomas Beduneau / @enwin
    dt Art director
    dd
      a( href="http://www.sylvainweiss.fr" ) Sylvain Weiss

  p.theend FIN
