div.screen-content

  div.credits-list
    h2.credit A Progressive Web App by
    p.entry
      a( href="https://twitter.com/enwin" ) Thomas Beduneau / @enwin

    h2.credit Art director
    p.entry
      a( href="http://www.sylvainweiss.fr" ) Sylvain Weiss

    h2.credit Special thanks to
    p.entry
      a( href="http://www.switch-company.com" ) Switch

    h2.credit Made with
    ul.entries
      li.entry HTML,
      li.entry CSS,
      li.entry JavaScript

    p.info Offline capabilities provided by the Service Workers API

    h2.credit Version
    p.entry!= config.version

    p.disclaimer This proof of concept was solely created to use the Service Worker API and demonstrate that nice applications can be made using Web technologies

  h1( title="Movienow!" ).theend.screen-title Movienow!
