div.layer-wrapper
  p#errorMessage.message!= message || 'Houston, we have a problem'
  button.button.button-cta.errorDone( type="buton" aria-controls="errorDialog" )!= discard ? discard : message ? 'Ok' : 'Roger that'
