if favorites.length
  ul.item-list
    each theater in favorites
      li.theater-item
        a.item-title( href="/theaters/#{theater.id}" )!= theater.name
        button.button.button-favorite( type="button" data-id=theater.id )
          include ../../_source/svg/icon_favorited.svg
          span Remove #{theater.name} from favorites
else
  -var title = "My Oh My!", text = "You don't have any favorite theater yet", icon = 'favorited';
  include ./message.jade
