span.home-poster( aria-hidden="true" )
div.screen-content

  a.button.button-action.button-around( href="/around" aria-label="Find theaters around me" ) Around me

  a.button.button-reverse( href="/favorites" ) My favorite theaters

  nav.home-find
    h1.hidden Find a theater or movie
    ul.find-list
      li.find-item
        a.find-link( href="/movies?search=true" ) Search a movie
      li.find-item
        a.find-link( href="/theaters?search=true" ) Search a theater
