header.screen-header
  h1.screen-title Showtimes

div.screen-content
  ul
    li
      a( href="/theaters" ) Theaters
    li
      a( href="/theaters/ad3f3f5dcb802009" ) Le Louxor
    li
      a( href="/theaters/4f451a87a71bfa51" ) UGC Les Halles