span.home-poster( aria-hidden="true" style="background-image: url(/media/dyn/home/batmanvsuperman.jpg);" )
div.screen-content

  button.button.button-action( type="button" aria-label="Find theaters around me" ) Around me

  a.button.button-reverse My favorite theaters

  section.home-find
    h1.hidden Find a theater or movie

    form#findMovie.form-quicksearch( action="/movies" )
      span.input-floating
        input#movieName( name="movieName" type="text" required )
        label( for="movieName" ) Find a movie
        button( type="submit" ) search

    form#findTheater.form-quicksearch( action="/theaters" )
      span.input-floating
        input#theaterName( name="theaterName" type="text" required )
        label( for="theaterName" ) Find a theater
        button( type="submit" ) search
