ul.menu-list.menu-screens
  each menu, key in screens
    li.menu-item
      a( href=menu.link )!= menu.name

span.dash-wrapper( aria-hidden="true" )
  include ../../_source/svg/pattern.svg
div.menu-item.menu-favorites( class=!asFavorites ? 'empty' : '' )
  a( href="/favorites" )
    include ../../_source/svg/icon_favorites.svg
    include ../../_source/svg/icon_favorited.svg
    span Favorites

if location
  span.dash-wrapper( aria-hidden="true" )
    include ../../_source/svg/pattern.svg
  div.menu-item.menu-location( class=!asFavorites ? 'empty' : '' )
    button.button.button-locationChange.layer-close.layer-control( type="button" aria-controls="locationDialog" aria-expanded="false" )
      span Change location (#[span.menu-location-city!=location.city.long])

button.button.button-close.layer-control( type="button" aria-controls="menu" aria-expanded="false" )
  include ../../_source/svg/icon_close.svg
  span Close menu
