ul.menu-list.menu-screens
  each menu, key in screens
    li.menu-item
      a( href=menu.link class=( key === current ? 'menu-item-active' : null ) )!= menu.name
  //-li.menu-item
    a( href="/theaters" ) Theaters