header.screen-header
  h1.screen-title Theaters

  form#theaterFilter.screen-nav.screen-form
    span.input-floating
      include ../../_source/svg/icon_search.svg
      input#theaterBlob( type="search" pattern=".*" required value="#{screenParams.filter || ''}" )
      label( for="theaterBlob" ) Filter theaters

div.screen-content
  include theaters-list.jade
