if theaters
  ul.item-list
    each theater in theaters
      unless !theater.id
        li.theater-item
          a.item-title( href="/theaters/#{theater.id}" )
            != theater.name
            if theater.address
              br
              small #{theater.address.street}, #{theater.address.zip} #{theater.address.city}
