header.screen-header
  h1.screen-title Theaters

  form#theaterFilter.screen-nav
    input#theaterBlob( type="search" pattern=".*" required )
    label( for="theaterBlob" ) Filter theaters

div.screen-content
  include theaters-list.jade
