header( role="banner" ).site-header

  h1.site-logo
    include ../../_source/svg/logo.svg

  button.site-menu-button( type="button" aria-controls="menu" aria-expanded="false" )
    include ../../_source/svg/icon_menu.svg
    span Menu

  nav#menu.site-menu( role="navigation" aria-hidden="true" )
    h1.hidden Menu
    div.menu-wrapper
