header( role="banner" ).site-header
  button.site-menu-button( type="button" )
    include ../../_source/svg/icon_menu.svg
    span Menu

  nav.site-menu( role="navigation" aria-hidden="true" )
    h1.hidden Menu
    div.menu-wrapper