section#locationDialog.layer.layer-location( role="dialog" aria-labelledby="dialogLocationTitle" aria-hidden="true" )
  div.layer-wrapper
    h1#dialogLocationTitle.layer-title( data-title="Change location" data-polite="Set your location" ) Change location

    p.layer-description I'm gonna need your location before showing what you want

    span.dash-wrapper( aria-hidden="true" )
      include ../../_source/svg/pattern.svg

    button.button.button-location( type="button" )
      include ../../_source/svg/icon_geolocation.svg
      span Use geolocation

    form#userLocation
      span.input-floating
        input#locationSearch( name="location" type="search" pattern=".*" required autocomplete="off" )
        label( for="locationSearch" ) Enter a location


    button.button.button-close.layer-control( type="button" aria-controls="locationDialog" aria-expanded="false" )
      include ../../_source/svg/icon_close.svg
      span Close
