meta( name="twitter:card" content="summary_large_image")
meta( name="twitter:creator" content="@enwin" )

meta( name="twitter:site" property="og:site_name" content=title )

meta( name="twitter:title" property="og:title" content=title )
meta( name="twitter:description" property="og:description" content=description )

meta( name="twitter:image" property="og:image" content='https://movienow.enwin.io/media/share.jpg' )

meta( name="twitter:url" property="og:url" content="https://movienow.enwin.io/" )

meta( property="og:type" content="website" )
meta( property="og:locale" content=country )
